# Config stuff

In [14]:
import ConnectionConfig as cc
from delta import DeltaTable
cc.setupEnvironment()

# Start local cluster

In [15]:
spark = cc.startLocalCluster("FACT_RIDES")
spark.getActiveSession()

# Create facts table: rides

## Read from sources

### Read from VeloDB database

In [18]:
#EXTRACT

cc.set_connectionProfile("VeloDB")

# Read rides table from source VeloDB database
# Only rows after 2019-01-01 will be read because older rows are corrupt
rides_source_df = spark.read \
    .format("jdbc") \
    .option("url", cc.create_jdbc()) \
    .option("driver" , cc.get_Property("driver")) \
    .option("dbtable", "(select rideid, starttime, endtime, subscriptionid, startlockid, endlockid, round(haversine_km(startpoint[0] :: numeric, startpoint[1]:: numeric, endpoint[0]:: numeric, endpoint[1]:: numeric),3) as distance_km_MV from rides where starttime > '2019-01-01') as subq") \
    .option("user", cc.get_Property("username")) \
    .option("password", cc.get_Property("password")) \
    .option("partitionColumn", "rideid") \
    .option("numPartitions", 4) \
    .option("lowerBound", 0) \
    .option("upperBound", 4140000) \
    .load()

rides_source_df.show(10)

+------+-------------------+-------------------+--------------+-----------+---------+--------------------+
|rideid|          starttime|            endtime|subscriptionid|startlockid|endlockid|      distance_km_mv|
+------+-------------------+-------------------+--------------+-----------+---------+--------------------+
|    15|2019-09-22 08:46:43|2019-09-22 09:01:36|         13296|       4849|     3188|3.443000000000000000|
|    16|2019-09-22 08:19:51|2019-09-22 08:21:55|         45924|       NULL|     NULL|0.487000000000000000|
|    17|2019-09-22 08:27:38|2019-09-22 08:30:25|         25722|       2046|     1951|0.699000000000000000|
|    18|2019-09-22 08:41:48|2019-09-22 08:46:52|         31000|       1821|     2186|1.406000000000000000|
|    19|2019-09-22 08:50:08|2019-09-22 09:09:02|         59732|       6382|     2700|4.884000000000000000|
|    20|2019-09-22 08:29:42|2019-09-22 08:31:40|          NULL|       NULL|     NULL|0.509000000000000000|
|    21|2019-09-22 08:05:17|2019-09-22 08:14:44|         31055|       1388|     3401|1.506000000000000000|
|    22|2019-09-22 08:39:11|2019-09-22 08:44:46|         65164|       2572|       13|1.402000000000000000|
|    23|2019-09-22 08:23:27|2019-09-22 08:30:02|         71164|         50|     2067|1.744000000000000000|
|    24|2019-09-22 08:20:54|2019-09-22 08:22:47|         68426|       NULL|     NULL|0.654000000000000000|
+------+-------------------+-------------------+--------------+-----------+---------+--------------------+
only showing top 10 rows

### Read from deltatables

In [19]:
#EXTRACT
# Dimension date
dim_date = spark.read.format("delta").load("spark-warehouse/dimdate")

# Dimension weather
dim_weather = spark.read.format("delta").load("spark-warehouse/dimweather")

# Dimension customer
dim_customer = spark.read.format("delta").load("spark-warehouse/dimuser")

# Dimension lock
dim_lock = spark.read.format("delta").load("spark-warehouse/dimlock")

### Read from weather data source

In [20]:
#EXTRACT
weather_responses = spark.read.format("json").option("multiLine",True).load("weather")
weather_responses.show(10)

+--------+------+---+--------------+----------+-------+--------------------+-----+------+--------------------+--------+----------+--------------------+-----------------+-------+
|    base|clouds|cod|         coord|        dt|     id|                main| name|  rain|                 sys|timezone|visibility|             weather|             wind|zipCode|
+--------+------+---+--------------+----------+-------+--------------------+-----+------+--------------------+--------+----------+--------------------+-----------------+-------+
|stations| {100}|200|{44.34, 10.99}|1583593967|3163858|{298.74, 933, 64,...|Zocca|{3.16}|{IT, 2075663, 166...|    7200|     10000|[{overcast clouds...|{349, 1.18, 0.62}|   2000|
|stations| {100}|200|{44.34, 10.99}|1583132121|3163858|{298.74, 933, 64,...|Zocca|{3.16}|{IT, 2075663, 166...|    7200|     10000|[{overcast clouds...|{349, 1.18, 0.62}|   2018|
|stations| {100}|200|{44.34, 10.99}|1583134645|3163858|{298.74, 933, 64,...|Zocca|{3.16}|{IT, 2075663, 166...|    7200|     10000|[{overcast clouds...|{349, 1.18, 0.62}|   2020|
|stations| {100}|200|{44.34, 10.99}|1585973548|3163858|{298.74, 933, 64,...|Zocca|{3.16}|{IT, 2075663, 166...|    7200|     10000|[{overcast clouds...|{349, 1.18, 0.62}|   2030|
|stations| {100}|200|{44.34, 10.99}|1569163778|3163858|{298.74, 933, 64,...|Zocca|{3.16}|{IT, 2075663, 166...|    7200|     10000|[{overcast clouds...|{349, 1.18, 0.62}|   2050|
|stations| {100}|200|{44.34, 10.99}|1569968446|3163858|{298.74, 933, 64,...|Zocca|{3.16}|{IT, 2075663, 166...|    7200|     10000|[{overcast clouds...|{349, 1.18, 0.62}|   2060|
|stations| {100}|200|{44.34, 10.99}|1575264035|3163858|{298.74, 933, 64,...|Zocca|{3.16}|{IT, 2075663, 166...|    7200|     10000|[{overcast clouds...|{349, 1.18, 0.62}|   2100|
|stations| {100}|200|{44.34, 10.99}|1619936979|3163858|{298.74, 933, 64,...|Zocca|{3.16}|{IT, 2075663, 166...|    7200|     10000|[{overcast clouds...|{349, 1.18, 0.62}|   2140|
|stations| {100}|200|{44.34, 10.99}|1656838375|3163858|{298.74, 933, 64,...|Zocca|{3.16}|{IT, 2075663, 166...|    7200|     10000|[{overcast clouds...|{349, 1.18, 0.62}|   2170|
|stations| {100}|200|{44.34, 10.99}|1659778730|3163858|{298.74, 933, 64,...|Zocca|{3.16}|{IT, 2075663, 166...|    7200|     10000|[{overcast clouds...|{349, 1.18, 0.62}|   2600|
+--------+------+---+--------------+----------+-------+--------------------+-----+------+--------------------+--------+----------+--------------------+-----------------+-------+
only showing top 10 rows

## Create tempviews

In [21]:
# Rides source table
rides_source_df.createOrReplaceTempView("ridesSource")

# Dimension date
dim_date.createOrReplaceTempView("dimDate")

# Dimension weather
dim_weather.createOrReplaceTempView("dimWeather")

# Weather responses
weather_responses.createOrReplaceTempView("weatherResponses")

# Dimension customer
dim_customer.createOrReplaceTempView("dimCustomer")

# Dimension lock
dim_lock.createOrReplaceTempView("dimLock")

## Transform weather responses table

Add weather_ID based on the weather type (condition_id)

Condition id:
- < 800: All codes with a number smaller than 800 means rain in some form. (=onaangenaam code 2)
- = 800: This code means clear sky and sunshine (=aangenaam code 1 if temperature is higher than 15 degrees Celsius)
- \> 800: All other weather conditions (Neutraal code 3)

In [22]:
#TRANSFORM
short_weather_responses = spark.sql("select zipCode as zip_code, dt as timestamp, weather.id[0] as condition_id, main.temp as temperature, \
                                    case \
                                        when condition_id < 800 then 2 \
                                        when condition_id = 800 and main.temp > (273 + 15) then 1 \
                                        when condition_id = 800 and main.temp < (273 + 15) then 3 \
                                        when condition_id > 800 then 3 \
                                    else 4 \
                                    end as weather_ID \
                                    from weatherResponses")
short_weather_responses.show(10)

+--------+----------+------------+-----------+----------+
|zip_code| timestamp|condition_id|temperature|weather_ID|
+--------+----------+------------+-----------+----------+
|    2000|1583593967|         804|     298.48|         3|
|    2018|1583132121|         804|     298.48|         3|
|    2020|1583134645|         804|     298.48|         3|
|    2030|1585973548|         804|     298.48|         3|
|    2050|1569163778|         804|     298.48|         3|
|    2060|1569968446|         804|     298.48|         3|
|    2100|1575264035|         804|     298.48|         3|
|    2140|1619936979|         804|     298.48|         3|
|    2170|1656838375|         804|     298.48|         3|
|    2600|1659778730|         804|     298.48|         3|
+--------+----------+------------+-----------+----------+
only showing top 10 rows

In [23]:
short_weather_responses.createOrReplaceTempView("shortWeatherResponses")

## Build facts table

In [25]:
#TRANSFORM
rides_fact_df = spark.sql("select src.rideid as ride_ID, dd.date_SK, \
                          coalesce(dw.weather_SK, 3) as weather_SK, \
                          dls.lock_SK as start_lock_SK, dle.lock_SK as end_lock_SK, \
                          dc.user_sk,\
                          1 as count_MV, \
                          (unix_timestamp(endtime) - unix_timestamp(starttime)) as rideDuration_MV, \
                          src.distance_km_MV as distance_km_MV,\
                          md5(concat(src.rideid, dd.date_SK, start_lock_SK, end_lock_SK, dc.user_sk,coalesce(dw.weather_SK, 3), 1, rideDuration_MV, distance_km_MV)) as md5 \
                          from ridesSource as src \
                          left outer join dimDate as dd \
                          on cast(src.starttime as DATE) = cast(dd.CalendarDate as DATE) \
                          left outer join dimLock dls on src.startlockid = dls.lockid \
                          left outer join dimLock dle on src.endlockid = dle.lockid \
                          left outer join shortWeatherResponses wr on dls.zipcode = string(wr.zip_code) \
                          and date_format(src.starttime, 'yyyy-MM-dd-HH') = date_format(from_unixtime(wr.timestamp),'yyyy-MM-dd-HH') \
                          left outer join dimWeather dw on dw.weather_id = wr.weather_ID \
                          left outer join dimCustomer dc on src.subscriptionid = dc.subscriptionid and src.starttime > dc.scd_start and src.endtime <= dc.scd_end\
                          where src.subscriptionid is not null and dc.userid is not null")

rides_fact_df.show(10)

+-------+-------+----------+--------------------+--------------------+--------------------+--------+---------------+--------------------+--------------------+
|ride_ID|date_SK|weather_SK|       start_lock_SK|         end_lock_SK|             user_sk|count_MV|rideDuration_MV|      distance_km_MV|                 md5|
+-------+-------+----------+--------------------+--------------------+--------------------+--------+---------------+--------------------+--------------------+
|     15|     21|         3|4e038ff3-871f-448...|643ed1fe-ddbc-40f...|ac6b7c94-d7e9-438...|       1|            893|3.443000000000000000|673899ff2c0b745ab...|
|     17|     21|         3|31903aea-2d01-45d...|3fcde281-496c-4a6...|5db1da06-e619-459...|       1|            167|0.699000000000000000|23912defa3f38ea2b...|
|     19|     21|         3|d2812fef-00d8-470...|800cd0a4-7b1b-409...|91f27a61-db42-4aa...|       1|           1134|4.884000000000000000|29eb775de66e54095...|
|     22|     21|         3|65c5ef1c-2f30-4be...|895373b3-7728-4c2...|4d7260e4-8a10-417...|       1|            335|1.402000000000000000|e9f898f622384ddb2...|
|     24|     21|         3|                NULL|                NULL|fb72b9b9-5521-4c1...|       1|            113|0.654000000000000000|                NULL|
|     25|     21|         3|243acd58-ee9d-410...|cbbbe8bf-06f1-4c3...|881e43f7-8db9-4f2...|       1|            271|1.061000000000000000|ed755bb46b70a8dd2...|
|     26|     21|         3|9e80e652-0d01-412...|ba0ba3df-b1af-45d...|18f10062-3196-4b6...|       1|            641|2.545000000000000000|3730e536e7a4e8ac3...|
|     27|     21|         3|64c21e9b-4c9d-4d8...|f71eb0bc-a726-4fd...|049cb35c-3492-48d...|       1|           1176|5.576000000000000000|70ab50a4b77a8671c...|
|     28|     21|         3|edaab7ff-138b-4f0...|b2888629-0609-442...|732dec2f-a742-4fd...|       1|              0|0.000000000000000000|d86b4a3736f209c56...|
|     29|     21|         3|56097f1d-bbfe-4cc...|6fc62d63-8f78-476...|9ea7c53e-ea4a-4fa...|       1|            194|0.893000000000000000|7ee55c4a8269ea3f4...|
+-------+-------+----------+--------------------+--------------------+--------------------+--------+---------------+--------------------+--------------------+
only showing top 10 rows

### Create temview from facts table

In [26]:
rides_fact_df.createOrReplaceTempView("factRides_new")

## Write facts table to delta table: Initial load

In [27]:
# LOAD
rides_fact_df.write.format("delta").mode("overwrite").saveAsTable("factRides")

## Incremental load

In [17]:
#LOAD
dt_factRides = DeltaTable.forPath(spark,".\spark-warehouse\\factrides")
dt_factRides.toDF().createOrReplaceTempView("factRides_current")

result = spark.sql("merge into factRides_current as target \
                   using factRides_new as source on target.ride_ID = source.ride_ID \
                   when matched and (target.md5 <> source.md5) then update set * \
                   when not matched then insert *")

result.show()

+-----------------+----------------+----------------+-----------------+
|num_affected_rows|num_updated_rows|num_deleted_rows|num_inserted_rows|
+-----------------+----------------+----------------+-----------------+
|                0|               0|               0|                0|
+-----------------+----------------+----------------+-----------------+

In [13]:
spark.stop()