# Config

In [1]:
from delta import DeltaTable
from datetime import datetime

import ConnectionConfig as cc
cc.setupEnvironment()

# Start local cluster

In [2]:
spark = cc.startLocalCluster("DIM_LOCK")
spark.getActiveSession()

# Ophalen van gegevens (en opslaan in data warehouse)

In [3]:
#Extract
cc.set_connectionProfile("VeloDB")

df_lock = spark.read \
    .format("jdbc") \
    .option("driver" , cc.get_Property("driver")) \
    .option("url", cc.create_jdbc()) \
    .option("dbtable", "locks") \
    .option("user", cc.get_Property("username")) \
    .option("password", cc.get_Property("password")) \
    .option("partitionColumn", "lockid") \
    .option("numPartitions", 4) \
    .option("lowerBound", 0) \
    .option("upperBound", 8000) \
    .load()

df_station = spark.read \
    .format("jdbc") \
    .option("driver" , cc.get_Property("driver")) \
    .option("url", cc.create_jdbc()) \
    .option("dbtable", "stations") \
    .option("user", cc.get_Property("username")) \
    .option("password", cc.get_Property("password")) \
    .option("partitionColumn", "stationid") \
    .option("numPartitions", 4) \
    .option("lowerBound", 0) \
    .option("upperBound", 350) \
    .load()

df_lock.show(5)
df_station.show(5)

+------+-------------+---------+---------+
|lockid|stationlocknr|stationid|vehicleid|
+------+-------------+---------+---------+
|     1|            1|        1|     NULL|
|     2|            2|        1|     NULL|
|     3|            3|        1|     NULL|
|     4|            4|        1|     NULL|
|     5|            5|        1|     NULL|
+------+-------------+---------+---------+
only showing top 5 rows

+---------+--------+---------+------------+--------------------+------+-------+---------+-----------------+-------------------+-------+------+
|stationid|objectid|stationnr|        type|              street|number|zipcode| district|         gpscoord|     additionalinfo|labelid|cityid|
+---------+--------+---------+------------+--------------------+------+-------+---------+-----------------+-------------------+-------+------+
|        1|   33202|      026|DUBBELZIJDIG|         Meir (2000)|    84|   2000|ANTWERPEN|(51.2182,4.41241)|                   |   NULL|  NULL|
|        2|   33203|      019| ENKELZIJDIG|          ONTBREKEND|    12|   2000|ANTWERPEN| (51.219,4.40405)|                   |   NULL|  NULL|
|        3|   33204|      020| ENKELZIJDIG|Groenkerkhofstraa...|     2|   2000|ANTWERPEN|(51.2187,4.40066)|thv Nationalestraat|   NULL|  NULL|
|        4|   33205|      035| ENKELZIJDIG|Cockerillkaai (2000)|      |   2000|ANTWERPEN|(51.2104,4.38772)|                   |   NULL|  NULL|
|        5|   33206|      094| ENKELZIJDIG|        PALEISSTRAAT|   147|   2018|ANTWERPEN|(51.2047,4.39625)|                   |   NULL|  NULL|
+---------+--------+---------+------------+--------------------+------+-------+---------+-----------------+-------------------+-------+------+
only showing top 5 rows

In [25]:
#Transform
df_lock.createOrReplaceTempView("source_Lock")
df_station.createOrReplaceTempView("source_Station")

#querien van de data
df_dim_lock= spark.sql(f"select uuid() as lock_SK, lock.lockid, lock.stationLockNr, station.stationid, station.stationNr, station.type,\
                        station.street, station.number, station.district\
                        from source_Lock as lock\
                        join source_Station as station on station.stationid = lock.stationid")

df_dim_lock.show()

+--------------------+------+-------------+---------+---------+-----------+--------------------+------+---------+
|             lock_SK|lockid|stationLockNr|stationid|stationNr|       type|              street|number| district|
+--------------------+------+-------------+---------+---------+-----------+--------------------+------+---------+
|5a53f58f-3f85-439...|   234|           18|       12|      120|ENKELZIJDIG|Schijnpoortweg (2...| 27-29|ANTWERPEN|
|1f219141-c17a-413...|   233|           17|       12|      120|ENKELZIJDIG|Schijnpoortweg (2...| 27-29|ANTWERPEN|
|5c941285-64aa-47e...|   232|           16|       12|      120|ENKELZIJDIG|Schijnpoortweg (2...| 27-29|ANTWERPEN|
|b0f481e8-3f52-42a...|   231|           15|       12|      120|ENKELZIJDIG|Schijnpoortweg (2...| 27-29|ANTWERPEN|
|4d386bfd-def4-40f...|   230|           14|       12|      120|ENKELZIJDIG|Schijnpoortweg (2...| 27-29|ANTWERPEN|
|015c475c-fc06-4a8...|   229|           13|       12|      120|ENKELZIJDIG|Schijnpoortweg (2...| 27-29|ANTWERPEN|
|1650fc16-be50-4e1...|   228|           12|       12|      120|ENKELZIJDIG|Schijnpoortweg (2...| 27-29|ANTWERPEN|
|e19ab048-1283-4a2...|   227|           11|       12|      120|ENKELZIJDIG|Schijnpoortweg (2...| 27-29|ANTWERPEN|
|ba7ab907-a359-4c1...|   226|           10|       12|      120|ENKELZIJDIG|Schijnpoortweg (2...| 27-29|ANTWERPEN|
|eb9c1918-f7b1-4d0...|   225|            9|       12|      120|ENKELZIJDIG|Schijnpoortweg (2...| 27-29|ANTWERPEN|
|95632e0d-f162-4b9...|   224|            8|       12|      120|ENKELZIJDIG|Schijnpoortweg (2...| 27-29|ANTWERPEN|
|dcdaf4ef-a9df-416...|   223|            7|       12|      120|ENKELZIJDIG|Schijnpoortweg (2...| 27-29|ANTWERPEN|
|49a98588-1906-4e2...|   222|            6|       12|      120|ENKELZIJDIG|Schijnpoortweg (2...| 27-29|ANTWERPEN|
|9aeaafd2-b79e-4ef...|   221|            5|       12|      120|ENKELZIJDIG|Schijnpoortweg (2...| 27-29|ANTWERPEN|
|fa2140fa-876e-454...|   220|            4|       12|      120|ENKELZIJDIG|Schijnpoortweg (2...| 27-29|ANTWERPEN|
|23748bb1-9069-43d...|   219|            3|       12|      120|ENKELZIJDIG|Schijnpoortweg (2...| 27-29|ANTWERPEN|
|72df2af9-9a49-4eb...|   218|            2|       12|      120|ENKELZIJDIG|Schijnpoortweg (2...| 27-29|ANTWERPEN|
|bf1504ca-c551-44f...|   217|            1|       12|      120|ENKELZIJDIG|Schijnpoortweg (2...| 27-29|ANTWERPEN|
|d64e39a4-f70b-40d...|   252|           18|       13|      144|ENKELZIJDIG|August Vermeylenl...|     7|ANTWERPEN|
|945a1adf-a0f6-4d6...|   251|           17|       13|      144|ENKELZIJDIG|August Vermeylenl...|     7|ANTWERPEN|
+--------------------+------+-------------+---------+---------+-----------+--------------------+------+---------+
only showing top 20 rows

In [29]:
df_dim_lock.insertInto("'test', null, null, null, null, 'geen slot', null, null, null")

AttributeError: 'DataFrame' object has no attribute 'insertInto'

In [28]:
spark.sql(f"insert into df_dim_lock \
          (lock_SK,lockid, stationLockNr, stationid, stationNr, type, street, number, district)\
          values('test', null, null, null, null, 'geen slot', null, null, null)")

AttributeError: 'DataFrame' object has no attribute 'insertInto'